body {
    overflow-x: hidden;
    --h: 212deg;
    --l: 43%;
    --brandColor: hsl(var(--h), 71%, var(--l));
    font-family: Montserrat, sans-serif;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 25px;
  
    align-items: baseline;
    margin: 0 0 1rem;
    color: #27296d;
    font-size: 2.25rem;
    margin: 0 0 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  
  .aais_warn__mDVtZ {
    display: block;
    /* Convertir l'image en un élément de type bloc */
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    margin-bottom: 318px;
    margin-top: 91px;
  }
  
  
  p {
    margin: 0;
    line-height: 1.6;
  
  }
  
  ol {
    list-style: none;
    counter-reset: list;
    padding: 0 1rem;
    margin-bottom: 0;
  
  }
  
  .firstli {
    position: relative;
    counter-increment: list;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 2rem 1rem 1rem;
    box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .firstli:hover {
    transform: scale(1.05);
    /* Scale léger */
    box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.3);
    /* Optionnel: ajoutez une ombre plus marquée pour l'effet */
    cursor: pointer;
  }
  
  .firstli::before {
    --stop: calc(100% / var(--length) * var(--i));
    --l: 62%;
    --l2: 88%;
    --c1: #27296d;
    --c2: hsl(var(--h), 71%, var(--l2));
  
    content: '';
    display: block;
    width: 100%;
    height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
  }
  
  .thirdli {
    position: relative;
    counter-increment: list;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 2rem 1rem 1rem;
    box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .thirdli:hover {
    transform: scale(1.05);
    /* Scale léger */
    box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.3);
    /* Optionnel: ajoutez une ombre plus marquée pour l'effet */
    cursor: pointer;
  }
  
  .thirdli::before {
    --stop: calc(100% / var(--length) * var(--i));
    --l: 62%;
    --l2: 88%;
    --c1: #27296d;
    --c2: hsl(var(--h), 71%, var(--l2));
  
    content: '';
    display: block;
    width: 100%;
    height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--c1) var(--stop), var(--c2) var(--stop));
  }
  
  h3 {
    display: flex;
    align-items: baseline;
    margin: 0 0 1rem;
    color: #27296d;
    font-size: 2.25rem;
    margin: 0 0 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  
  
  h3::before {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    content: counter(list);
    padding: 1rem;
    border-radius: 50%;
    background-color: #27296d;
    color: white;
  }
  
  .card-text {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
  
  
  .card-list {
    font-weight: bold;
    list-style-type: none;
    color: #27296d;
  }
  
  .card-info {
    padding-top: 18px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  
  
  
  
  
  .img {
    display: none;
    /* Convertir l'image en un élément de type bloc */
    margin-left: auto;
    margin-right: auto;
  }
  
  .img-red {
    display: block;
    /* Convertir l'image en un élément de type bloc */
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  
  
  
  
  
  
  
  
  @media (min-width: 40em) {
    .firstli {
      margin: 3rem auto;
      padding: 3rem 2rem 2rem;
    }
  
    .thirdli {
      margin: 3rem auto;
      margin-bottom: 0;
      padding: 3rem 2rem 2rem;
    }
  
    h3 {
      font-size: 2.25rem;
      margin: 0 0 1rem;
    }
  
    h3::before {
      margin-right: 1.5rem;
    }
  }
  
  
  .googlebar {
    display: none;
    /* Convertir l'image en un élément de type bloc */
    margin-left: auto;
    margin-right: auto;
  }
  
  .googlebar.visible {
    display: block;
    /* Convertir l'image en un élément de type bloc */
    margin-left: auto;
    margin-right: auto;
  }
  
  .googlebarRed {
    display: block;
    /* Convertir l'image en un élément de type bloc */
    margin-left: auto;
    margin-right: auto;
  }
  
  .googlebarRed.hidden {
    display: none;
    /* Convertir l'image en un élément de type bloc */
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .border-red1{
    border: solid 5px #ff0707;
    height: 36px;
    width: 84px;
    margin-left: -7px;
    margin-top: -8px;
    position: absolute;
    z-index: -1;
    display: none;
    }
  
  
  
  
  
  
  .popup {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  
    border-radius: 12px;
  
    padding: 20px;
  
    font-weight: 400;
  
    background: linear-gradient(135deg, #fff, #f3f4f6);
  
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
    width: 458px;
  
    margin-left: 50px;
    position: absolute;
  }
  
  .popup2 {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  
    border-radius: 12px;
  
    padding: 20px;
    margin-left: 50px;
    font-weight: 400;
  
    background: linear-gradient(135deg, #fff, #f3f4f6);
  
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
    width: 458px;
  
  
    opacity: 0;
    display: none;
    position: absolute;
    margin-top: 180px;
  }
  
  .popup3 {
    box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
    border-radius: 12px;
  
    padding: 20px;
  
    font-weight: 400;
  
    background: linear-gradient(135deg, #fff, #f3f4f6);
  
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
    width: 458px;
    margin: auto;
  
  
  }
  
  
  .alert-popup {
    border: solid 1px #f87171;
    background: linear-gradient(135deg, #fff7e6, #fff);
  
  }
  
  .error-popup {
  
    background: #d4d6f9;
  }
  
  .error-popup3 {
    border: 2px solid #d4d6f9;
    background: #fff;
  }
  
  .error-title3 {
    color: #35376b;
  
    font-size: 18px;
  
    margin-bottom: 10px;
  
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  
  .error-title {
    color: #35376b;
  
    font-size: 18px;
  
    margin-bottom: 10px;
  
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  
  
  .error-title::before {
    
  
    margin-right: 8px;
  
  }
  
  
  .error-message {
    color: #333;
    font-family: 'Inter', sans-serif;
  
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .error-message2 {
    color: #333;
    font-family: 'Inter', sans-serif;
  
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  
  .suivant1 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 8px;
  
    padding: 10px 20px;
  
    color: #fff;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #27296d, #35376b);
  
    transition: background 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  }
  
  .suivant1:hover {
    background: linear-gradient(135deg, #1e215b, #27296d);
  
  }
  
  .retour1 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 8px;
  
    padding: 10px 20px;
  
    color: #fff;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #27296d, #35376b);
  
    transition: background 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  }
  
  .retour1:hover {
    background: linear-gradient(135deg, #1e215b, #27296d);
  
  
  }
  
  
  .popup.hidden {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  
    border-radius: 12px;
  
    padding: 20px;
  
    font-weight: 400;
  
    background: linear-gradient(135deg, #fff, #f3f4f6);
  
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  
    width: 458px;
    margin: auto;
  
    opacity: 0;
    transform: scale(0.95);
  
  }
  
  
  
  
  .popup.visible,
  .popup2.visible,
  .popup3.visible {
    opacity: 1;
    transform: scale(1);
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .skill-box {
    width: 430px;
    margin: 25px 0;
    position: absolute;
    margin-top: -34px;
    margin-left: 116px;
  }
  
  .skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #27296d;
  }
  
  .skill-box .skill-bar {
    height: 8px;
    width: 70%;
    border-radius: 6px;
    margin-top: 6px;
    background: #27296d4d;
  
  }
  
  .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #27296d;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  
  }
  
  .skill-per.html {
    width: 50%;
    animation-delay: 0.1s;
  }
  
  .skill-per.html2 {
  
    width: 100%;
    animation-delay: 0.1s;
  
  }
  
  
  
  
  
  
  @keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 3px;
    background: rgb(226, 226, 226);
    z-index: 1;
  }
  
  .tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: rgb(226, 226, 226);
    transform: translateX(-50%) rotate(45deg);
  }
  
  
  .close {
    width: 30px;
    height: 30px;
    position: absolute;
    opacity: 0.5;
    margin-left: 398px;
    margin-top: -10px;
    cursor: pointer;
  }
  
  .close:hover {
  
    opacity: 1;
  }
  
  
  
  
  .cadenas {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 66px;
    margin-left: 5px;
  }
  
  .cadenas2 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 105px;
    margin-left: 5px;
  }
  
  .cadenas3 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 105px;
    margin-left: 5px;
  }
  
  .cadenas4 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 105px;
    margin-left: 5px;
  }
  
  
  .hr {
    margin-top: 150px;
  }
  .logoaais{
    margin-left: 25px;
    margin-top: 25px;
  }
  
  @media screen and (max-width: 1668px) {
    .container {
      margin-left: 200px;
  
    }
  }
  
  @media screen and (max-width: 1458px) {
    .container {
      margin-left: 400px;
  
    }
  }